.header{
    color : red;
    margin-top : 55px;
    margin-left:  55px;
    font-weight: 50px;
}

.button {
    width : 20%;
    margin-top : 35px;
    margin-left:  55px;
    font-weight: 50px;
    border : 1px solid grey;
}

.head {
    margin-top : 75px;
    margin-left:  55px;
    font-weight: 50px;
}


.form{
    width : 30%;
    margin : 3em auto 0 5em ; 
}

.submit {
    float: right;
}


