 .nav {
    min-height: 50px;
    padding-top: 20px;
    float: right;
 }

 .heading {
    min-height: 50px;
    padding-top: 20px;
    float: left;
    color : red;
 }

 .button {
    background-color: red; 
    margin : 8em auto;
    margin-left: 20%;
 }

 .card {
    min-height: 50px;
    padding-top: 20px;
    width : 50%;
    margin : 5px auto;
 }


 .media {
    width : 60px;
    height : 60px;
 }

